$font: 'Montserrat', sans-serif;
$deepBlue: #1995AD;
$softBlue: #A1D6E2;
$gray: #BCBABE;

/* Keyframes */


/* Transitions*/
.menu-container {
  .menu {
    .menu-item {
      transition: all 1.5s ease-in;
      color: rgb(230, 230, 230);
      background-color: rgb(7, 6, 6);
      font-size:18px;
    }
  }
}

.main-info {
  .section-container {
    .accordion {
      transition: 0.4s;    
    }
    .panel {
      transition: max-height 0.2s ease-out;
    }
  }
}

/* Pseudo Selectors */
.menu-container {
  .menu {
    .menu-item {
      :hover {
        color: $deepBlue;
        background-color: white;
      }     
    }
  }
}

.main-info {
  .section-container {
    .accordion {
      :hover {
        background-color: $deepBlue;
        color: white;
      }
      .active {
        background-color: $deepBlue;
        color: white;
      }
    }
  }
}